<div id="custom_sidebar">

  <img src="https://secure.gravatar.com/userimage/19026905/0df6bbe2ad7d2afb49bbef8d55d7c909?size=130" alt="self" id="me">
  
  <h5>ChenXu Zhao</h5>
  <p>
    Hello! I'm a 21 year old, self-learned coder from China.
    I am enthusiastic of code to creat magical things.
    </p>
    
    <h5>Purpose</h5>
    <p>
		The purpose of this website is to record code and knowledge,and happinese with my pretty louise.
    </p>
    <h5>Contact</h5>
    
  <ul id="contact_list">
     <li>
		<a href="http://github.com/zztczcx">
			<img src="/assets/images/icons/github.gif" alt="Facebook Link">
			Github
		</a>
     </li>     
     <li>
		<a href="http://www.douban.com/people/1596551/">
			<img src="/assets/images/icons/douban.png" alt="douban">
			douban
		</a>
     </li>
     <li>
		<a href="http://twitter.com/chenxuzhao">
			<img src="/assets/images/icons/twitter.png" alt="Twitter Link">
			Twitter
		</a>
     </li>
     <li>
		<a href="http://weibo.com/u/1726877473">
			<img src="/assets/images/icons/weibo.png" alt="WeiBo">
			新浪微博
		</a>
     </li>
     <li>
		<a href="mailto:zztczcx@gmail.com">
			<img src="/assets/images/icons/send.png" alt="Newspapaer Icon">
			zztczcx@gmail.com
		</a>
     </li>
     
  </ul>
  
</div>
